// Place all the styles related to the bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.test10 {
  border-bottom: 1px dotted #999;
}

.test11 {
  display: inline-block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.test12 {

}