// Place all the styles related to the bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.test11 {
  display: inline-block;
  width: 80px;
  height: 24px;
  text-align: right;
}