// Place all the styles related to the bounties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.bounty-row {
  display: block;
  margin: 0 auto 18px;
  border-bottom: 1px dotted #999;

  &:last-child {
    margin-bottom: 30px;
  }
}

.bounty-col {
  margin-right: 8px;
  text-align: right;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}

.bounty-col-middle {
  width: 98px;
  height: 24px;
}

.bounty-button {
  width: 15%;
  max-width: 120px;
  margin: 0 0 0 12px;

  .bg-orange {
    margin-top: 18px;
  }
}

.store-button {
  width: 15%;
  max-width: 120px;
  margin: 0 0 0 12px;

  .bg-orange {
    margin-top: 18px;
  }
}
