// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.form-new-left {
  display: inline-block;
  min-width: 80px;
  width: 20%;
  max-width: 120px;
  margin-right: 10px;
}

.form-new-right {
  display: inline-block;
  width: 70%;
  max-width: 660px;
}

.number_field {
  width: 40px;
}

.form-right {
  width: 100%;
}

.form-right-select {
  width: 90vw;
}