// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.form-new-left {
  display: inline-block;
  min-width: 80px;
  width: 20%;
  max-width: 120px;
  margin-right: 10px;
}

.form-new-right {
  display: inline-block;
  width: 70%;
  max-width: 660px;
}

.number_field {
  width: 40px;
}

.form-right {
  width: 100%;
}

.form-right-select {
  width: 90vw;
}



// client-side

.cases-index-date {
  color: black;
  background: linear-gradient(transparent 80%, #ee772f 20%);
  border-radius: 1px;
  padding: 0 3px;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 2px;
  border: 1px solid #000;
}

.th-id {
  width: 5%;
  min-width: 40px;
  text-align: center;
}

.th-name {
  width: 15%;
  min-width: 120px;
}

.th-memo, .th-comment {
  width: 35%;
  min-width: 320px;
}