// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.test0 {
  // width: 10000px;
}

.test1 {
  display: inline-block;
  overflow: hidden;
  width: 96px;
  min-height: 60px;
  border: 1px solid #333;
  border-radius: 2px;
  margin: 2px 0;
  padding: 1px;
  text-align: center;
  vertical-align: middle;

  p {
    line-height: 14px;
    vertical-align: middle;
  }

  transition: 0.1s;

  // a {
    &:hover {
      background-color: #ffaa55;
      opacity: 0.7;
    }

    &:active {
      // box-shadow: inset 0 0 3px rgba(128, 128, 128, 0.1);
      transform: translateY(2px);
      transition: 0;
    }
  // }
}

.btn-job-name {
  display: inline-block;
  color: #000000;
  font-size: 11px;
  border-radius: 3px;
  // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);

  text-align: center;
  padding: 0;
  margin: 0 auto;
  line-height: 14px;

  transition: 0.1s;

  &:hover {
    // background-color: #ffaa55;
    opacity: 0.7;
  }

  &:active {
    // box-shadow: inset 0 0 3px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
    transition: 0;
  }
}

.btn-job-spot {
  display: inline-block;
  color: black;
  border-radius: 3px;
  // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);

  text-align: center;
  padding: 0px 0px;
  margin: 0 auto;
}


.job-pagenate-tab {

}
